<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Elektronski Dnevnik - izmeni ucenika</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <header id="header">
            <div class="header-first">
            </div>
            <div class="pic">
            </div>
            <div class="header-second">
                <div class="dropdown">
                    <div class="dropbtn">
                        <a class="klik" href = "#">Dodaj/izmeni</a> 
                    </div>
                    <div class="dropdown-content">
                        <a class="klik_pregled" href="/admin/noviKorisnik">Novi korisnik</a>
                        <a class="klik_pregled" href="/admin/noviUcenik">Novi ucenik</a>
                        <a class="klik_pregled" href="/admin/novoOdeljenje">Novo odeljenje</a>
                        <a class="klik_pregled" href="/admin/noviPredmet">Novi predmet</a>
                        <a class="klik_pregled" href=" /admin/noviRaspored">Novi raspored</a>
                        <a class="klik_pregled" href="/admin/obavestenja">Novo obavestenje</a>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropbtn">
                        <a class="klik" href = "#">Pregled</a>
                    </div>
                    <div class="dropdown-content">
                        <a class="klik_pregled" href="/admin/sviKorisnici">Pregled korisnika</a>
                        <a class="klik_pregled" href="/admin/sviRoditelji">Pregled roditelja</a>
                        <a class="klik_pregled" href="/admin/sviUcitelji">Pregled ucitelja</a>
                        <a class="klik_pregled" href="/admin/sviUcenici">Pregled ucenika</a>
                        <a class="klik_pregled" href="/admin/svaOdeljenja">Pregled odeljenja</a>
                        <a class="klik_pregled" href="/admin/sviPredmeti">Pregled predmeta</a>
                        <a class="klik_pregled" href="/admin/listaOdeljenjaZaOdabirRasporeda">Pregled rasporeda</a>
                        <a class="klik_pregled" href="/admin/listaObavestenja">Pregled obavestenja</a>                    </div>
                </div> 
                <div class="dropdown">
                    <div class="dropbtn">
                        <a class="klik" href = "/">Odjava</a>
                    </div>
                </div> 
            </div>
        </header>
        <div class="bodi">
            <div align="center">
                <form action="#" th:action="@{/saveUcenik}" th:object="${ucenik}" method="POST">

                    <table border="0" cellpadding="10">
                        <tr>
                            <td>ID:</td>
                            <td><input type="text" th:field="*{id_ucenik}" readonly="readonly"/></td>
                        </tr>
                        <tr>
                            <td>ime:</td>
                            <td><input type="text" th:field="*{ime}" /></td>
                        </tr>
                        <tr>
                            <td>prezime:</td>
                            <td><input type="text" th:field="*{prezime}" /></td>
                        </tr> 
                        <tr>
                            <td>odeljenjeID:</td>
                            <td><input type="text" th:field="*{odeljenje.id_odeljenje}" /></td>
                        </tr>     
                        <tr>
                            <td>Naziv Odeljenja:</td>
                            <td><input type="text" th:field="*{odeljenje.naziv}" /></td>
                        </tr>       
                        <tr>
                            <td>id roditelja:</td>
                            <td><input type="text" th:field="*{korisnik.id_korisnik}" /></td>
                        </tr>  
                        <tr>
                            <td>ime roditelja:</td>
                            <td><input type="text" th:field="*{korisnik.ime}" /></td>
                        </tr>  
                        <tr>
                            <td>prezime roditelja:</td>
                            <td><input type="text" th:field="*{korisnik.prezime}" /></td>
                        </tr>                 
                        <tr>
                            <td colspan="2"><button type="submit">Sacuvaj</button> </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <footer id="footer">
            <div class="pic">
            </div>
            <div class="footer1">
            <div class="footer1left"> </div>
            <div class="footer1right">
            <p style="text-align: center; font-size: 14px; font-weight: bold; margin:0px 0px; padding: 3px 0px;">
                email:<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">peraperic.os@gmail.com</a>
            </p>
            <p style="text-align: center; font-size: 12px; font-weight: bold; margin:0px 0px; padding: 3px 0px;">+381 (0)11 200 100</p>
            <p style="text-align: center; font-size: 12px; font-weight: bold; margin:0px 0px; padding: 3px 0px;">+381 (0)11 201 101</p>
                
            </div>
            </div>
            <div class="footer2"> </div>
            <div class="pic" style="float: right">
            </div>
        </footer>
    </body>
</html>
